# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
out/
release/
build/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.<environment>

# Python
__pycache__/
*.pyc
*.pyo
dist/
build/
*.egg-info/

# IDE
*.iml
.vscode/
.idea/
